<h1>Logowanie</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label "E-mail:" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Hasło:"%><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Zaloguj" %>
  </div>
<% end %>

<p>Nowy użytkownik? <%= link_to "Zarejestruj się teraz!", signup_path %></p>
