<tr>
  <td class="gravatar">
    <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  </td>
  <td class="micropost">
    <span class="user">
      <%= link_to feed_item.user.name, feed_item.user %>
    </span><br />
    <span class="content"><%= feed_item.content %></span><br />
   <% if !feed_item.url.nil? %>
	<% if video?(feed_item.url) %>
		<iframe width="460" height="310" src="http://www.youtube.com/embed/<%= video(feed_item.url) %>" frameborder="0" allowfullscreen></iframe>
	<% else %>
		<img src="<%= feed_item.url %>" alt="nievideo" /></span>
	<% end %>
     <% end %>
    <span class="timestamp">
      Wysłano <%= feed_item.created_at %>.
    </span>
  </td>
  <% if current_user?(feed_item.user) or admin? %>
  <td>
    <%= link_to "delete", feed_item, :method => :delete,
                                     :confirm => "Jestes pewien?",
                                     :title => feed_item.content %>
  </td>
  <% end %>
</tr>

